<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Jokes</h1>
      <ul id="navbar">
        <li><a link href="/">Vores Jokes</a></li>
        <li><a link href="/otherJokes">Eksterne Jokes</a></li>
      </ul>
      
      {{{body}}}
    </div>
  </body>
</html>
