body {
  
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height:21px;

}

ul#navbar {
  text-align:center;
  list-style-type:none;
  margin:0px;
  padding:0px;
}

ul#navbar li {
  margin:0px;
  padding:0px;
}

h1 {
  text-align:center;
}

a {
  color: #00B7FF;
}

.jokes {
  display :flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
}

.joke {
  background-color:#00B7FF;
  width:20vw;
  padding: 1vw;
  margin: 1vw;
}

